<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About this project</title>
    <link rel="stylesheet" href="./navbar.css">
</head>
<body>
    <%- include('./navbar') %>
    <h1>About This Project</h1>
    <p>
        This is a full stack application with node.js and express,
        it will fetch different food recipes from spoonacular API based on the user's
        preferences and display them to the user.
        the purpose of making this app was to showcase my ability to fetch different data from an api
        since many companies use third party api's in their websites.  
    </p>
</body>
</html>